*.jpg
*.zip
.DS_Store
__pycache__/
.tmp.driveupload/
cifar_train_test/
dataloaders/
.tmp.drivedownload
.ipynb_checkpoints
.vscode
models/clip_vit_classifier.pth
models/clip_classifier_10epochs.pth
fake_vs_real.zip